@charset "utf-8";

html { line-height: 1.15; text-size-adjust: 100%; }

body { margin: 0px; }

main { display: block; }

h1 { font-size: 2em; margin: 0.67em 0px; }

hr { box-sizing: content-box; height: 0px; overflow: visible; }

pre { font-family: monospace, monospace; font-size: 1em; }

a { background-color: transparent; }

abbr[title] { border-bottom: none; text-decoration: underline dotted; }

b, strong { font-weight: bolder; }

code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sub { bottom: -0.25em; }

sup { top: -0.5em; }

img { border-style: none; }

button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }

button, input { overflow: visible; }

button, select { text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] { appearance: button; }

fieldset { padding: 0.35em 0.75em 0.625em; }

legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0px; white-space: normal; }

progress { vertical-align: baseline; }

textarea { overflow: auto; }

[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0px; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] { appearance: textfield; outline-offset: -2px; }

[type="search"]::-webkit-search-decoration { appearance: none; }

::-webkit-file-upload-button { appearance: button; font: inherit; }

details { display: block; }

summary { display: list-item; }

template { display: none; }

[hidden] { display: none; }

* { box-sizing: border-box; }

html { font-family: "Gotham Black", Arial; }

body { margin: 0px; color: white; }

h1, h2, h3, h4, h5, h6 { margin: 0px; }

img { width: 100%; height: auto; }

a { text-decoration: underline; }

a:focus button { background-color: white; color: rgb(220, 41, 30); cursor: pointer; }

button { font-family: "Gotham Light", Arial; font-weight: 900; background: transparent; color: white; padding: 0.5rem; margin: 0px; width: 10rem; font-size: 1.25rem; border-radius: 0.35rem; border: 1px solid rgba(255, 255, 255, 0.5); text-transform: uppercase; }

button:hover, button:focus { background-color: white; color: rgb(220, 41, 30); cursor: pointer; }

sup { top: -1em; font-size: 0.4em; }

.grecaptcha-badge { display: none; }

.NLwms { border: 1px solid rgb(153, 153, 153); border-radius: 0.5rem; margin: 0.5rem; }

.NLwms:hover, .NLwms:focus { border: 1px solid rgb(255, 255, 255); }

.NLwms[disabled] { color: white; background-color: rgb(221, 221, 221); transition: background-color 0.2s ease 0s; }

.NLwms[disabled]:active, .NLwms[disabled]:hover, .NLwms[disabled]:focus { cursor: not-allowed; }

.fzWhpO { border: 1px solid rgb(153, 153, 153); border-radius: 0.5rem; margin: 0.5rem; color: rgb(255, 255, 255); background-color: rgb(220, 41, 30); }

.fzWhpO:hover, .fzWhpO:focus { color: rgb(220, 40, 29); background-color: rgb(255, 255, 255); border: 1px solid rgb(255, 255, 255); }

.fzWhpO[disabled] { color: white; background-color: rgb(221, 221, 221); transition: background-color 0.2s ease 0s; }

.fzWhpO[disabled]:active, .fzWhpO[disabled]:hover, .fzWhpO[disabled]:focus { cursor: not-allowed; }

.iXdOaO { border: 1px solid rgb(220, 41, 30); color: rgb(255, 255, 255); background-color: rgb(220, 41, 30); font-family: "Gotham Medium", Arial; }

.iXdOaO:hover, .iXdOaO:focus { background-color: rgb(255, 255, 255); color: rgb(220, 41, 30); cursor: pointer; }

.iXdOaO[disabled] { color: white; background-color: rgb(221, 221, 221); transition: background-color 0.2s ease 0s; border-color: rgb(153, 153, 153); }

.iXdOaO[disabled]:active, .iXdOaO[disabled]:hover, .iXdOaO[disabled]:focus { cursor: not-allowed; }

.iGfesa { border: 1px solid rgb(220, 41, 30); color: rgb(220, 41, 30); background-color: rgb(255, 255, 255); font-family: "Gotham Medium", Arial; }

.iGfesa:hover, .iGfesa:focus { background-color: rgb(220, 41, 30); color: rgb(255, 255, 255); cursor: pointer; }

.iGfesa[disabled] { color: white; background-color: rgb(221, 221, 221); transition: background-color 0.2s ease 0s; border-color: rgb(153, 153, 153); }

.iGfesa[disabled]:active, .iGfesa[disabled]:hover, .iGfesa[disabled]:focus { cursor: not-allowed; }

.dWvMvg { position: absolute; inset: 0px; width: 100%; height: 100%; overflow-x: hidden; padding: 1rem; z-index: 8; background-color: rgba(255, 255, 255, 0.5); margin: 0px; }

.iYtjtf { background-color: white; color: rgb(220, 41, 30); position: relative; max-width: 24rem; margin: 0px auto; padding: 0px; border-radius: 0.35rem; border: 2px solid rgb(220, 41, 30); top: 10%; z-index: 9; }

.iYtjtf h2 { background-color: rgb(220, 41, 30); text-transform: uppercase; color: white; margin: 0px; padding: 1rem; }

.iYtjtf p { padding-left: 1rem; padding-right: 1rem; text-align: left; color: rgb(44, 44, 44) !important; }

.iYtjtf div { display: flex; justify-content: space-around; padding: 0px 1rem; margin-bottom: 0.5rem; }

.iSSxLj div.display-time { font-size: 5rem; line-height: 4.25rem; color: rgb(44, 44, 44); }

.iSSxLj div.local-time { font-size: 1.4rem; line-height: 1.35rem; text-transform: uppercase; font-weight: 900; margin: 1rem -1rem; color: rgb(220, 40, 29); background: rgb(255, 255, 255); padding: 1rem; }

.iSSxLj div.fine-print { margin-top: 10px; font-size: 0.5rem; font-weight: normal; font-family: "Gotham Book", Arial; color: rgb(44, 44, 44); }

.iSSxLj h3 { font-size: 2.5rem; color: rgb(44, 44, 44); }

.IXmFS { color: rgb(44, 44, 44); font-size: 5rem; line-height: 4.25rem; }

.bFVasj { max-width: 18rem; margin: 1rem auto; padding: 0.25rem; background: rgb(255, 255, 255); }

.kYKLGW { display: flex; flex-flow: column; -webkit-box-align: center; align-items: center; }

.kYKLGW img { transform: translate(-25%, -25%); animation: 1.75s linear 0s infinite normal none running eoUyJr; fill: rgb(255, 255, 255); width: 4rem; height: 4rem; }

.bGTeMp { max-width: 32rem; margin: 0px auto; position: relative; text-align: center; padding: 0px; }

.bGTeMp a { text-decoration: none; }

.bGTeMp div.lang-switch { position: absolute; right: 1rem; top: 1rem; padding: 0.7rem; z-index: 1000; }

.bGTeMp div.lang-switch h3 { text-transform: uppercase; cursor: pointer; }

.kMkwhL { max-width: 32rem; margin: 0px auto; position: relative; text-align: center; padding: 0px; }

.kMkwhL a { text-decoration: none; }

.kMkwhL div.lang-switch { position: absolute; right: 1rem; top: 1rem; padding: 0.7rem; z-index: 1000; }

.kMkwhL div.lang-switch h3 { color: rgb(44, 44, 44); text-transform: uppercase; cursor: pointer; }

.draHuj { max-width: 520px; width: 100%; margin: 0px auto; padding: 2rem; display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; overflow: hidden; }

.idYyCm { max-width: 520px; width: 100%; margin: 0px auto; padding: 2rem; background-color: rgb(255, 217, 146); display: flex; -webkit-box-align: center; align-items: center; -webkit-box-pack: justify; justify-content: space-between; overflow: hidden; }

.iuBstf { width: 115px; margin: -1rem; }

.iuBstf:hover { cursor: pointer; }

.gYuvMq { display: inline-block; font-family: "Gotham Black", Arial; font-size: 0.7rem; border-right: 1px solid; padding: 0px 0.25rem; }

.gYuvMq a { text-decoration: none; }

.gYuvMq:first-of-type { padding-left: 0px; }

.gYuvMq:last-of-type { border: 0px; padding-right: 0px; max-width: 9rem; }

.klcIcW { display: inline-block; font-family: "Gotham Black", Arial; font-size: 0.7rem; border-right: 1px solid rgb(44, 44, 44); padding: 0px 0.25rem; }

.klcIcW a { color: rgb(44, 44, 44); text-decoration: none; }

.klcIcW:first-of-type { padding-left: 0px; }

.klcIcW:last-of-type { border: 0px; padding-right: 0px; max-width: 9rem; }

.jNGQuq { display: flex; -webkit-box-pack: justify; justify-content: space-between; }

.codxvn { max-width: 32rem; margin: 0px auto; overflow: hidden; }

.ckbRcT { max-width: 32rem; margin: 0px auto; overflow: hidden; background: linear-gradient(rgb(255, 218, 147), rgb(255, 156, 57)); }

.hDtaMn { display: none; font-family: "Gotham Black", sans-serif; font-weight: normal; font-style: italic; font-size: 3rem; letter-spacing: -1px; color: rgb(255, 255, 255); text-align: center; text-transform: uppercase; text-shadow: rgb(243, 88, 68) -0.2rem 0.2rem; white-space: nowrap; }

.gPGmpA { width: 100%; padding: 0.1rem 0.25rem 0px; align-self: flex-start; }

.ZeScx { margin: 0rem auto; position: relative; height: 275px; width: 100%; }

.jTxDEJ { padding: 0px 1rem 1rem; text-align: center; }

.jTxDEJ p { font-family: "Gotham Light", Arial; font-weight: 900; font-size: 0.8rem; line-height: 1rem; text-align: left; margin: 1.5rem auto 1rem; max-width: 24rem; }

.jTxDEJ p span { text-transform: uppercase; }

.jTxDEJ p.fine-print { font-family: "Gotham Light", sans-serif; font-weight: 400; font-size: 0.6rem; }

.jTxDEJ p.redeem-date { text-align: center; }

.jTxDEJ h4.header { text-transform: uppercase; text-align: center; margin-bottom: 1rem; }

.jTxDEJ div.redeem-container { margin-bottom: 1rem; }

.jTxDEJ div.redeem-container h2 { font-size: 3rem; line-height: 2.5rem; }

.jTxDEJ div.redeem-container h3 { font-size: 1.5rem; margin-bottom: 0.25rem; }

.jTxDEJ div.redeem-container h4 { font-size: 0.88rem; font-family: "Gotham Light", Arial; }

.jTxDEJ h4.header { font-size: 1.2rem; text-transform: uppercase; text-align: center; margin-bottom: 1rem; }

.iiYcfR { padding: 0px 1rem 1rem; text-align: center; }

.iiYcfR p { font-family: "Gotham Light", Arial; font-weight: 900; font-size: 0.8rem; line-height: 1rem; text-align: left; margin: 1.5rem auto 1rem; max-width: 24rem; color: rgb(44, 44, 44); }

.iiYcfR p span { text-transform: uppercase; }

.iiYcfR p.fine-print { font-family: "Gotham Light", sans-serif; font-weight: 400; font-size: 0.6rem; }

.iiYcfR p.redeem-date { text-align: center; }

.iiYcfR h4.header { text-transform: uppercase; text-align: center; margin-bottom: 1rem; color: rgb(44, 44, 44); }

.iiYcfR div.redeem-container { margin-bottom: 1rem; }

.iiYcfR div.redeem-container h2 { font-size: 3rem; line-height: 2.5rem; color: rgb(44, 44, 44); }

.iiYcfR div.redeem-container h3 { font-size: 1.5rem; margin-bottom: 0.25rem; color: rgb(44, 44, 44); }

.iiYcfR div.redeem-container h4 { font-size: 0.88rem; font-family: "Gotham Light", Arial; color: rgb(44, 44, 44); }

.iiYcfR h4.header { font-size: 1.2rem; text-transform: uppercase; text-align: center; margin-bottom: 1rem; color: rgb(44, 44, 44); }

@-webkit-keyframes eoUyJr { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes eoUyJr { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
